/*start Global Rules */
/* Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Tagesschrift", system-ui;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*end Global Rules */

/* ================================ */

/* start header */
header {
    background-color: black;
    padding: 5px;
    color: white;
    display: grid;
    place-items: center;
}

header h1 {
    font-size: 2em;
}

.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* start figure */
figure {
    width: 40%;
    display: grid;
    place-items: center;
}

figure .logo {
    width: 60px;
    border-radius: 50%;
    max-width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* end figure */

/* start nav */
nav {
    width: 60%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

nav ul li {
    padding: 10px 15px;
    margin: 2px;
}

nav ul li a {
    color: white;
    padding: 10px 15px;
    position: relative;
    font-size: 18px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #eee;
    width: 0%;
    left: -1px;
    bottom: 0px;
    transition: 0.3s width;
    -webkit-transition: 0.3s width;
    -moz-transition: 0.3s width;
    -ms-transition: 0.3s width;
    -o-transition: 0.3s width;
}

nav ul li a:hover::after {
    width: 100%;
}

.active {
    background-color: #615c5c;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}


@media (max-width:768px) {
    header h1 {
        font-size: 1.1em;
    }
}

/* end nav */

/* end header */



/* ====================== */

/* start main */

/* start section */

.parent {
    margin-top: 100px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .imge {
    width: 50%;
}

.content summary {
    width: 50%;
}

/* end section */


/* end main */


/* ====================== */


/* start footer */
footer {
    width: 100%;
    background-color: #333;
    position: absolute;
    bottom: 0%;
}

.icons {
    width: 50%;
    /* background-color: red; */
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    font-size: 24px;
    margin: 10px;
    color: white;
}


.icons a:hover {
    color: #1da1f2;
}

.links {
    width: 50%;
    margin: auto;
}

.links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul li {
    padding: 15px 20px;
    color: white;
}

.copy {
    display: flex;
    justify-content: center;
    background-color: black;
}

.copy p {
    color: white;
    padding: 20px;
}


/* end footer */



/* Register Page */